<html lang="en"><head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>About Us</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

  
  <!--Font for ToySwap-->
  <link href="https://fonts.googleapis.com/css?family=Suez+One" rel="stylesheet">
  <link href="/assets/css/about-us.css" type="text/css" rel="stylesheet" media="screen,projection">
</head>

<body>

  <div id="menu-btn" class="fixed-action-btn horizontal click-to-toggle">
        <a class="btn-floating btn-large white">
            <i class="material-icons" id="menu" title="Menu">menu</i>
        </a>
        <ul>
            <li>
                <a class="btn-floating red lighten-1" href="/home">
                    <i class="material-icons" id="home" title="Home">home</i>
                </a>
            </li>
            <li>
                <a class="btn-floating red lighten-1" href="/about">
                    <i class="material-icons"  title="About Us">grade</i>
                </a>
            </li>
            <li>
                <a class="btn-floating red lighten-1" href="/list">
                    <i class="material-icons" id="products" title="Products">apps</i>
                </a>
            </li>
            <li>
                <a class="btn-floating red lighten-1" href="/login">
                    <i class="material-icons" id="profile" title="Profile">face</i>
                </a>
            </li>
        </ul>
    </div>




  <div id="index-banner" class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h4 id="about-us-title" class="header center white-text text-lighten-2">About Us</h4>
        <div class="col s12 center">
          
          <p id="about-page" class="left-allign white-text text-lighten-2"> At ToySwap, we believe you are never too old to play with toys! Yeah, that's right, it's okay to never grow up! ToySwap is a platform on which individuals can feel free to trade or "swap" toys, collectibles, and all other sorts of goodies free of $$$. Trade, haggle, trade some more! Who knows, you might even find kindred spirit along the way!</p>
        </div>
        </div>
    </div>

    <div class="parallax"><img src="#" alt="Unsplashed background img 1" style="display: block; transform: translate3d(-50%, 15px, 0px);"></div>
          
       

  </div>
  <h4 id="meet-us" class="header center">Meet the Team!</h4>
  <div class="carousel">
    <a class="carousel-item" href="#one!"><img src="assets/img/dv.jpg"><p class="red-text">Dariell Vasquez</p></a>
    <a class="carousel-item" href="#two!"><img src="assets/img/an.jpg"><p class="red-text">Alexander Nieves</p></a>
    <a class="carousel-item" href="#three!"><img src="assets/img/yj2.png"><p class="red-text">Yubin Jamora</p></a>
    <a class="carousel-item" href="#four!"><img src="assets/img/CN.png"><p class="red-text">Conor Nolan</p></a>
    
  </div>
   
   <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12" id="group-div">
                    <h5 class="white-text">Project 2 Group Members</h5>
                    <ul>
                        <a class="white-text" href="https://github.com/Dquez"><li>Dariell Vasquez</li></a>
                        <a class="white-text" href="https://github.com/dogrock2"><li>Alexander Nieves</li></a>
                        <a class="white-text" href="https://github.com/yubinjamora"><li>Yubin Jamora</li></a>
                        <a class="white-text" href="https://github.com/nolanconorj"><li>Conor Nolan</li></a>
                    </ul>

                </div>

                <div class="col l6 s12" id="connect-div">
                    <h5 class="white-text">Connect With Us!</h5>
                    <ul>
                        <li>
                            <a class="white-text" href="https://www.linkedin.com/in/dariellvasquez7">LinkedIn - Dariell</a>
                        </li>
                        <li>
                            <a class="white-text" href="https://www.linkedin.com/in/alexander-nieves-a04b76b1/">LinkedIn - Alex</a>
                        </li>
                        <li>
                            <a class="white-text" href="https://www.linkedin.com/in/yubin-jamora-410b02b5/">LinkedIn - Yubin</a>
                        </li>
                        <li>
                            <a class="white-text" href="https://www.linkedin.com/in/conorjamesnolan/">LinkedIn - Conor </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

  
  

  
    
    <div class="center footer-copyright red lighten-1">
      <div class="container" id="footer-toyswap"><a href="https://github.com/full-stack-project-2/full-stack-project-2">ToySwap <img src="assets/img/github.png" alt="GitHub"></a>
      
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="/assets/js/about-us.js"></script>
  <script src="/assets/js/init.js"></script>
  {{!-- <script src="/assets/js/materialize.js"></script> --}}
  

  

<div class="hiddendiv common"></div><div class="drag-target" data-sidenav="nav-mobile" style="left: 0px; touch-action: pan-y; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></div>

</body>
</html>