<div class="container">
    <div class="row">
        <div class="col-md-12">
            <header class="mt-3">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link" href="/acct/log">Activity</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/acct/messages">Messages
                            <span id="msgCnt"></span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active">Account</a>
                    </li>
                </ul>
            </header>
        </div>
    </div>
</div>