<div id="menu-btn" class="fixed-action-btn horizontal click-to-toggle">
    <a class="btn-floating btn-large red lighten-1">
        <i class="material-icons" id="menu" title="Menu">menu</i>
    </a>
    <ul>
        <li>
            <a class="btn-floating red lighten-1" href="/home">
                <i class="material-icons" id="home" title="Home">home</i>
            </a>
        </li>
        <li>
            <a class="btn-floating red lighten-1" href="/about">
                <i class="material-icons" title="About Us">grade</i>
            </a>
        </li>
        <li>
            <a class="btn-floating red lighten-1" href="/list">
                <i class="material-icons" id="products" title="Products">apps</i>
            </a>
        </li>
        <li>
            <a class="btn-floating red lighten-1" href="/login">
                <i class="material-icons" id="profile" title="Profile">face</i>
            </a>
        </li>
    </ul>
</div>


<div class="parallax-container" id="parallax-vid">
    <!--SVG attempt************************** 
      <svg>
<defs>
<filter id="goo">
  <feGaussianBlur in="SourceGraphic" stdDeviation="5" result="blur" />
  <feColorMatrix in="blur" result="colormatrix"
        type="matrix"
        values="1 0 0 0 0
                0 1 0 0 0
                0 0 0 0 0
                0 0 0 18 -6" />
  <feBlend in="SourceGraphic" in2="colormatrix">

</filter>
</defs>
</svg>
SVG attempt************************** -->
    <div class="parallax">
        <video autoplay loop id="toyswap-vid">
            <source class="vid" src="/assets/mov/Toy_train.mp4" type="video/mp4">
        </video>
    </div>

    <h1 id="toyswap-title" class="header center white-text text-lighten-2">ToySwap</h1>
</div>




<div class="container">
    <div class="section">


        <div class="col s12 center">
            <div class="icon-block">
                <h2 class="center">
                    <i class="material-icons">settings</i>
                </h2>
                <h5 class="center" id="works">How ToySwap Works</h5>

                <p class="light">ToySwap is a one-stop shop web application for people who want to swap their unused toys with new or used
                    ones from other users. There is no payment required to use ToySwap, we only require that you create an
                    account so that you can navigate throughout our toy listings. In order to swap with another user, you
                    need to have at least one toy of your own saved in our database, which you can upload after you've logged
                    in. When you offer a toy to swap, the owner of the other toy has the option to confirm or deny your request.
                    If they decide they want to swap theirs with yours, you both can say hello to your brand new used toys!
                    Let the ToySwap commence!</p>
            </div>



            <div class="row">
                <div class="col s12 m6" id="open-buttons">
                    <a class="waves-effect waves-light btn modal-trigger red lighten-1" id="register-button" href="/register">Register</a>

                    <!-- Modal Structure -->
                    <div id="modal1" class="modal modal-fixed-footer">
                        <div class="modal-content">
                            <h4>Registration Page</h4>
                            <p>A bunch of text</p>
                        </div>
                        <div class="modal-footer">
                            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Register</a>
                        </div>
                    </div>
                </div>
                <div class="col s12 m6" id="open-buttons">
                    <!-- Modal Trigger -->
                    <a class="waves-effect waves-light btn modal-trigger red lighten-1" id="login-button" href="/login">Login</a>

                    <!-- Modal Structure -->
                    <div id="modal2" class="modal modal-fixed-footer">
                        <div class="modal-content">
                            <h4>Login Page</h4>
                            <p>A bunch of text</p>
                        </div>
                        <div class="modal-footer">
                            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Login</a>
                        </div>
                    </div>
                </div>
            </div>





        </div>

    </div>
</div>




<div class="parallax-container" id="toy-group">
    <div class="parallax">
        <img src="assets/img/toy-group.jpg">
    </div>
</div>










<div class="container">
    <div class="section">

        <div class="row">
            <div class="col s12 center">

                <h5 id="fall">ToySwap User Testimonial</h5>


                <p class="left-align light">"ToySwap! What a great way to get rid of the old clunky toys my kids don't play with anymore! ToySwap is
                    a lifesaver! </p>
                <p>-Karen, NJ</p>

                <div class="container center">
                    <img class="responsive-img" src="assets/img/fall.gif">
                    <!--Closes img div-->
                </div>
            </div>
        </div>

    </div>
</div>

<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12" id="group-div">
                <h5 class="white-text">Project 2 Group Members</h5>
                <ul>
                    <a class="white-text" href="https://github.com/Dquez">
                        <li>Dariell Vasquez</li>
                    </a>
                    <a class="white-text" href="https://github.com/dogrock2">
                        <li>Alexander Nieves</li>
                    </a>
                    <a class="white-text" href="https://github.com/yubinjamora">
                        <li>Yubin Jamora</li>
                    </a>
                    <a class="white-text" href="https://github.com/nolanconorj">
                        <li>Conor Nolan</li>
                    </a>
                </ul>

            </div>

            <div class="col l6 s12" id="connect-div">
                <h5 class="white-text">Connect With Us!</h5>
                <ul>
                    <li>
                        <a class="white-text" href="https://www.linkedin.com/in/dariellvasquez7">LinkedIn - Dariell</a>
                    </li>
                    <li>
                        <a class="white-text" href="https://www.linkedin.com/in/alexander-nieves-a04b76b1/">LinkedIn - Alex</a>
                    </li>
                    <li>
                        <a class="white-text" href="https://www.linkedin.com/in/yubin-jamora-410b02b5/">LinkedIn - Yubin</a>
                    </li>
                    <li>
                        <a class="white-text" href="https://www.linkedin.com/in/conorjamesnolan/">LinkedIn - Conor</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="center footer-copyright red lighten-1">
        <div class="container" id="footer-toyswap">
            <a class="white-text" href="https://github.com/full-stack-project-2/full-stack-project-2">ToySwap
                <img src="assets/img/github.png" alt="GitHub">
            </a>

        </div>
    </div>
</footer>



<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<script src="assets/js/toyswap.js"></script>  
{{!--<script src="assets/js/init.js"></script>  {{!--
<script src="assets/js/materialize.js"></script> --}}
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="/assets/js/home.js"></script>

<div class="hiddendiv common"></div>
<div class="drag-target" data-sidenav="nav-mobile" style="left: 0px; touch-action: pan-y; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></div>
