<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>About Us</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

  
  <!--Font for ToySwap-->
  <link href="https://fonts.googleapis.com/css?family=Suez+One" rel="stylesheet">
  <link href="/assets/css/style-login.css" type="text/css" rel="stylesheet" media="screen,projection">
</head>

  <div id="loader-wrapper">
    <div id="loader">

    </div>
      <div class = "loader-section section-left"></div>
      <div class = "loader-section section-right"></div>
  </div>

      <div id="login-page" class="row">

          <div class="col s4 z-depth-4 card panel" id="center-card">
            <form class="login-form">
             <div class="row">
              <div class="input-field col s12 center">
               <img src="assets/img/logotwo.png"  width=100% height=80>
                <p class="center login-form-text" id="text-login" style="font-size: 22px"> ToySwap</p>
              </div>
          </div>

          <div class="row margin">
            <div class="input-field col s12 cetner">
             <i class="mdi-social-person-outline prefix">
              
              </i>
              

              <input id="username" type="text" id="availability" name="example" type="number" class="validate" required="" aria-required="true">

              <label for="username" class="center-align">
              Username
              </label>
            </div>
          </div>

            <div class="row margin">
              <div class="input-field col s12">
                <i class="mdi-action-lock-outline prefix"></i>
                


               
                <input id="password" type="password" id="availability" name="example" type="number" class="validate" required="" aria-required="true">

                <label for="password" class="center-align">
                Password
                </label>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s12 m12 l12 login-text">
                <input type="checkbox" id="remember-me">
                  <label for="remember-me">
                "Remember me"
                  </label>
                </div>
            </div>

            <div class="row">
              <div class="input-field col s12">
                <a href="#" id='login' class="btn waves-effect waves col s12 red lighten-1">Login</a>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s6 m6 l6">
                <p class="margin medium-small">

                  <a class="black-text" style="font-size:15px" href="/register">Register Now!</a>

                </p>
              </div>

              <div class="input-field col s6 m6 l6">
                <p class="margin right-align medium-small">

                  <a class="black-text" style="font-size:15px" href="">Forgot password? </a>

                </p>
              </div>
            </div>
          </form>
        </div>
      </div>
      
          
 <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="/assets/js/login.js"></script>