<div class="container">
    <div class="row">
        <div class="col-md-12">
            <header class="mt-3">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link" href="/acct/log">Activity</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active">Messages
                            <span id="msgCnt"></span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="/acct/account">Account</a>
                    </li>
                </ul>
            </header>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 mt-4">
            <div class="card">
                <div class="bg-primary">
                    <span class="font-weight-bold text-white pl-2">Sort By</span>
                </div>
            </div>
            <div class="card-block pl-2">
                <div id="sortAll" class="text-primary">ALL</div>
                <div id="sortOffers" class="text-primary">Offers</div>
                <div id="sortMessages" class="text-primary">Messages</div>
            </div>
        </div>
        <div class="col-md-10 mt-4">
            <div class="card" id="resultDiv">
                <div class="bg-primary">
                    <span class="font-weight-bold text-white pl-2">Messages</span>
                </div>
                <div class="card-block pl-2"></div>
            </div>
        </div>
    </div>
</div>