
#qIcon{
     height: 30px;
     width: 30px;
 }

#sIcon {
    height: 20px;
    width: 20px;
}

#starIcon{
    height: 15px;
    width: 15px;
}

.material-icons {
    vertical-align: middle !important;
    padding-bottom: 3px;
}

#tests {
    background-color: #e5dbdb;
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 20.5V18H0v-2h20v-2H0v-2h20v-2H0V8h20V6H0V4h20V2H0V0h22v20h2V0h2v20h2V0h2v20h2V0h2v20h2V0h2v20h2v2H20v-1.5zM0 20h2v20H0V20zm4 0h2v20H4V20zm4 0h2v20H8V20zm4 0h2v20h-2V20zm4 0h2v20h-2V20zm4 4h20v2H20v-2zm0 4h20v2H20v-2zm0 4h20v2H20v-2zm0 4h20v2H20v-2z' fill='%23f00404' fill-opacity='0.14' fill-rule='evenodd'/%3E%3C/svg%3E");
    
}



#idLegend {
    text-decoration: underline;
}

#field-set {
    border-color: gray;
    border-style: solid;
}

#chatBox {
    height: 100px;
    width: 360px;
    background-color: #f5f5f5;
    overflow: auto;
    word-wrap: break-word;
}

#loginDiv {
    height: 80%;
    font-weight: bold;
}

#msgDiv {
    background-color: #f5f5f5; 
    width: 360px;   
}

#chatDiv {
    width: 360px;
}


/* The Modal Main div */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
}

/* The X Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#resultDiv {
    min-height: 400px;
}

#sortAll:hover, #sortOffers:hover, #sortMessages:hover {
    font-weight: bold;
    text-decoration: underline;
}


