#center-card {
  /*  margin-top: 70px;
    margin-left: 300px;*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 320px;
    
  }
  
  #image-login {
    position: relative; 
    overflow: hidden; 
    width: 100%; 
    height: 100vh; 
  } 


  right hide-on-med-and-down-one {
    color: white;
  }
  
  

  
  #text-login {
    font-family: avenir, 'avenir next', helvetica, arial, sans-serif;
    
    margin-top: 0;
  }
  
  p {
    font-family: avenir, 'avenir next', helvetica, arial, sans-serif;
  }
  
  
  
  .image {
      position: relative;
      text-align: center;
      color: white;
      margin: auto;
      width: 100%;
  }
  
  .brand-logo-one{
    font-family: avenir, 'avenir next', helvetica, arial, sans-serif;
    font-size: 30px;
    color: white;
  }
  
  
  /* Centered text */
  .centered {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-family: avenir, 'avenir next', helvetica, arial, sans-serif;
      font-size: 45px;
      font-weight: bold;
  
  }
  
  #imageOne {
    /*//margin-left: 0;*/
    /* smargin-right: 0;*/
    margin-top: auto;
    margin-bottom:  10px;
  
    }
    
  .box-container {
    position: relative;
  
     
  }
  
  #rowOne {
  
    margin-left: 120px;
    margin-bottom: auto;
    
  }
  
  #rowTwo {
  
    margin-left: 120px;
    margin-bottom: auto;
    
  
  }
  
  #rowThree {
  
    margin-left: 120px;
    margin-bottom: auto;
    
  }
  
  .owner-info-picture {
    margin: 20px;
    float: left;

  }

 
  #page-number {
    margin-left: 470px;
  }
  
    @media only screen and (min-width: 0) {
  
  .item-container {
      width: 195px;
      overflow: hidden;
      background: none;
      background-color: #fff;
      border-radius: 6px;
      padding: 0;
      margin: 0;
      box-shadow: inset 0 -2px 0 0 #d8d8d8;
  }
  }
  
  .material-icons {
    vertical-align: middle !important;
    padding-bottom: 3px;
   
      font-family: 'Material Icons';
      font-weight: normal;
      font-style: normal;
      font-size: 24px;  /* Preferred icon size */
      display: inline-block;
      line-height: 1;
      text-transform: none;
      letter-spacing: normal;
      word-wrap: normal;
      white-space: nowrap;
      direction: ltr;
   
  }

  .viewImg {
    height: 400px;
    width: 400px;
    margin-left: 50px;
  }
  
  #wList, #starIcon {
    margin-left:100px;
  }
  
  #title{
    font-size: 23px;
  }
  
  #dataContBot {
    background-color: #f5f5f5;
  }
  
  #qIcon{
     height: 30px;
     width: 30px;
  }
  
  #sIcon {
    height: 20px;
    width: 20px;
  }
  
  #starIcon{
    height: 15px;
    width: 15px;
  }
  
  #idLegend {
    text-decoration: underline;
  }
  
  #chatBox {
    height: 100px;
    width: 360px;
    background-color: #f5f5f5;
    overflow: auto;
    word-wrap: break-word;
}
  
  #loginDiv {
    height: 80%;
    font-weight: bold;
  }
  
  #msgDiv {
    background-color: #f5f5f5; 
    width: 360px;   
  }
  
  #chatDiv {
    width: 360px;
  }
  
  
  /* The Modal Main div */
  .modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
  }
  
  /* The X Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  #resultDiv {
    min-height: 400px;
  }
  
  #sortAll:hover, #sortOffers:hover, #sortMessages:hover {
    font-weight: bold;
    text-decoration: underline;
  }
  
  